# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Processed/generated data
data/processed/

# Local frontend
frontend/

# Logs
*.log

# OS files
.DS_Store
Thumbs.

# Trained ML models
models/*.pkl